version: '3.1'

services:
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    # if you are running as root then set it to 0
    # else find the right id with the id -u command
    user: '0'
    networks:
      - sqldb
    labels:
        - "traefik.enable=true"
        - "traefik.http.routers.front.entrypoints=web"
        - "traefik.http.routers.front.rule=PathPrefix(`/grafana`)"
        - "traefik.http.services.front.loadbalancer.server.port=3000"
    environment:
      - GF_DEFAULT_LANGUAGE=fr
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_AUTH_ANONYMOUS_ORG_NAME=Main Org.
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_PANELS_DISABLE_SANITIZE_HTML=true
    ports:
      - '8080:3000'
    # adding the mount volume point which we create earlier
    volumes:
      - '$PWD/data:/var/lib/grafana'
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/fr.json:/usr/share/grafana/public/locales/fr.json
  pg:
    image: postgres:alpine
    container_name: ${DBHOST:-sqldb-ws-pg}
    restart: always
    volumes:
      - ./db/autoload:/docker-entrypoint-initdb.d
      - /opt/data/containers/sqldb/pgdata:/var/lib/postgresql/data
    networks:
      - sqldb
    environment:
      POSTGRES_DB: ${DBNAME:-test}
      POSTGRES_USER: ${DBUSER:-pg-admin}
      POSTGRES_PASSWORD: ${DBPWD:-test}
    ports: 
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    networks:
      - sqldb
    ports:
      - 8443:8080
networks:
  sqldb:
    external: true